/* Custom styles for the header */
/*header {
    background-color: #888484;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
}*/

/* Custom styles for the map container */
#map {
    width: 100%;
    height: calc(100vh - 50px); /* Adjust height based on screen size, leaving space for header */
}
